
body {
    margin: auto;

    background-color: #401010;
    color: white;
    /* background: white; */
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

h1 {
    padding: 0;
    margin: 1rem 0;
    text-align: center;
}

@media (max-width: 1024px) {
    #logo {
        width: 100%;
    }

    h1, p {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    iframe#gameFrame {
        width: 100vw;
        height: 100vw;
    }
}
@media (min-width: 1024px) {
    body {
        width: 1024px;
    }

    #logo {
        width: 700px;
    }

    iframe#gameFrame {
        width: 1024px;
        height: 1024px;
    }
}

/* narrow screen, wider than tall */
@media (max-width: 1024px) and (max-height: 100vw) {
    iframe#gameFrame {
        width: 100vh;
        height: 100vh;
    }
}

/* wide screen, wider than tall */
@media (min-width: 1024px) and (max-height: 1024px) {
    iframe#gameFrame {
        width: 100vh;
        height: 100vh;
    }
}

#app {
    text-align: center;
    margin: auto;
}

#instructions {
    text-align: center;
    font-size: 1.2rem;
}

a:link, a:visited {
    color: #ffdddd;
}

a:hover {
    color: #ffeeee;
}
